# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# -----------------------------------------------------------------------------
# Database (PostgreSQL)
# -----------------------------------------------------------------------------
POSTGRES_PRISMA_URL="postgresql://user:password@localhost:5432/chembench?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://user:password@localhost:5432/chembench?schema=public"

# -----------------------------------------------------------------------------
# Admin API Key (api routes)
# -----------------------------------------------------------------------------
ADMIN_API_KEY=
